
/* ......................A4size.......... */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  /* background: white; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right top, #52b6fe, #6154fe);
}
.page {
}
.subpage {
  /* padding: 1cm; */
  /* border: 1px gray solid; */
  height: 256mm;
  /* outline: 2cm #fff solid; */
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
.profile-sahi {
  padding: 4px;
  color: white;
}
.profile-sahi {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-sahi h3 {
  font-size: 20px;
  color: #fff;
}
.logo-name h2 {
  text-align: center;
  color: #fff;
  line-height: 2rem;
}
.logo-name-logo {
  margin-top: 5px;
}
.logo-dec {
  font-size: 15px;
  font-style: italic;
  font-family: cursive;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  min-width: 118px;
  margin-top: 10%;
}
.profile-img img {
  width: 100%;
}
/* .............message form chairman............... */
.message-chair-title {
  font-size: 20px;
  color: #fff;
  padding-bottom: 15px;
  font-weight: 600;
}
.card-container {
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  /* grid-gap: 50px; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #f5f5f5; */
  font-family: "Baloo Paaji 2", cursive;
}

.card {
  width: 350px;
  background-color: #5d71fe !important;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 2px solid #272133;
  margin-top: 20px;
  /* box-shadow: 0 10px 50px rgba(235, 25, 110, 1); */
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
.massege-cha-dec {
  padding: 20px;
  /* text-align: center; */
  text-align: justify;
}
.massege-cha-dec p {
  font-size: 15px;
  color: #fff;
}
.intro-area {
  width: 100%;
  height: auto;
}
.intro-sahi {
  width: 100%;
  height: auto;
}
.intro-sahi h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}
.intro-sahi p {
  font-size: 15px;
  color: #fff !important;
  text-align: justify;
}
.intro-area h4 {
  /* text-align: center; */
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.intro-area p {
  text-align: center;
  text-align: justify;
  margin-left: 30px;
  color: #fff;
  font-size: 15px;
}
.mission-area ul li {
  font-size: 15px;
  margin-left: 18px;
  color: #fff;
}
.mission-area img {
  width: 100%;
  margin-left: 20px;
}

.Values img {
  max-width: 128px;
  max-height: 150px;
  margin-left: 73%;
  margin-top: -73%;
}
.mission-area h4 span img {
  width: 40px;
  height: 40px;
  /* border: 1px solid; */
  /* background-color:#5071B8; */
}
.service-area {
  width: 100%;
  height: auto;
}
.service-area h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.service-skill h5 {
  font-size: 18px;
  font-weight: 600;
  color: #660c0e;
}
.service-skill ul li {
  font-size: 15px;
  color: #fff;
}
.service-skill-img {
  width: 100%;
  height: auto;
}
.service-skill-img {
  background: url() no-repeat center center;
  background-image: linear-gradient(
      rgba(174, 169, 169, 0.5),
      rgba(248, 246, 246, 0.5)
    ),
    url(../image/house.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  object-fit: contain;
}
.padding {
  padding-top: 30px;
}
.professional {
  background: url() no-repeat center center;
  background-image: url(../image/professional2.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.selection h4 {
  color: #660c0e;
  font-size: 20px;
  font-weight: 600;
}
.selection p {
  color: #fff;
  font-size: 15px;
  text-align: justify;
}
.security {
  background: url() no-repeat center center;
  background-image: url(../image/secuty.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
}
.requi-area h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.button {
  width: 300px;
  height: 7vh;
  border: 1px solid #fff;
  background-color: #d3d3d3;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
}
.requi-sal h5 {
  font-size: 18px;
  font-weight: 600;
  color: #660c0e;
}
.requi-desc h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.requi-desc p {
  font-size: 15px;
  color: #fff;
  text-align: justify;
}
.requi-sal {
  width: 100%;
  height: auto;
}
.requi-sal h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.requi-sal p {
  font-size: 15px;
  color: #fff;
}
.requi-sal ul li {
  font-size: 15px;
  color: #fff;
}
.clientsi-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.client-logo img {
  min-width: 100px;
  margin-bottom: 20px;
}
.footer{
  width: 300px;
  height: 300px;
  border: 5px solid;
  border-radius: 50%;
  margin-top: 50%;
  align-items: center;
  justify-content: center;

}




